<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Create a ToDo</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<!-- Latest compiled and minified CSS -->
	<link href="../../webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link href="../../css/standard.css" rel="stylesheet">
</head>

<body>
	<div th:replace="fragments/navbar :: navbar"></div>
	<div class="container">
		<h1>Edit a ToDo</h1>
		<form action="#" th:action="@{'/{id}'(id=${id})}" th:object="${chores}" th:method="put">

			<div class="form-group">
				<input type="text" class="form-control" th:placeholder="${task}" th:field="*{task}" />
			</div>

			<div class="form-group">
				<input type="text" class="form-control" th:placeholder="${assigned}" th:field="*{assigned}" />
			</div>

			<div class="form-group">
				<input type="text" class="form-control" th:placeholder="${priority}" th:field="*{priority}" />
			</div>
			
			<div class="form-group">
				<input type="text" class="form-control" th:placeholder="${status}" th:field="*{status}" />
			</div>
			
			<div class="form-group">
				<input type="text" class="form-control" th:placeholder="${owner}" th:field="*{owner}" />
			</div>
			
			<div class="form-group">
				<input type="text" class="form-control input-lg" th:placeholder="${note}" th:field="*{note}" />
			</div>

			<button type="submit" class="btn btn-primary">Submit Your Changes</button>
		</form>
	</div>

	<script src="../../webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="../../webjars/jquery/1.9.1/jquery.min.js"></script>
</body>

</html>