<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Blog Site</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<!-- 	<div th:replace="/fragments/styling :: head-style" ></div> -->
<!-- 	<div th:fragment="head-style">  -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="../../webjars/bootstrap/3.3.7/css/bootstrap.min.css"
		rel="stylesheet">
	<link href="../../css/standard.css" rel="stylesheet">

</head>
<body>

	<div th:replace="fragments/navbar :: navbar"></div>
	
	<div class="container">
		<h3>Welcome to DoneIt!</h3>
		<h3>change your todos to done</h3>
		
			<div class="row">
			<div class="col-med-4">
			  <div th:each="choreList:${chores}">
				<div class="panel panel-info">
				<div class="panel-heading">
				<p th:text="${choreList.task}" />
				</div>
				
				<div class="panel-body">
				<p th:text="${choreList.assigned}" />
				</div>
				
				<div class="panel-body">
				<p th:text="${choreList.priority}" />
				</div>
				
				<div class="panel-body">
				<p th:text="${choreList.status}" />
				</div>				

				<div class="panel-body">
				<p th:text="${choreList.note}" />
				</div>
			
				<div class="panel-footer">
				
				
				<form th:action="@{'/edit/{id}'(id=${choreList.id})}" th:method="get" class="form-horizontal">
					<div class="form-group">
					<button type="submit" class="btn btn-warning btn-block">Edit ToDo</button>
					</div>
				</form>		
				
				<form th:action="@{'/{id}'(id=${choreList.id})}" th:method="get" class="form-horizontal">
					<div class="form-group">
					<button type="submit" class="btn btn-primary btn-block">Show ToDo</button>
					</div>
				</form>				
				
				<form th:action="@{'/{id}'(id=${choreList.id})}" th:method="delete" class="form-horizontal">
        			<div class="form-group">
            		<input type="hidden" name="_method" value="delete"/>
       	 			<button type="submit" class="btn btn-danger btn-block" th:text="Delete">Delete Todo</button>
    				</div>
				</form>						
				
				</div>
			  </div> <!--Panel-->	
			</div> <!--Each-->
		  </div>  <!--Col-->		
		</div> <!--Row-->  
	</div>  <!--Container-->
</body>
</html>